<!doctype html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{{title}}</title>

	{{#each styles}}
	<link rel="stylesheet" href="{{@root.basePath}}{{{this}}}">
	{{/each}}
</head>

<body>

{{{body}}}

{{#each scripts}}
<script src="{{@root.basePath}}{{{this}}}"></script>
{{/each}}

</body>
