
body {
	font: 1em sans-serif;
	margin: 2em 1em;
	hyphens: auto;
}


@media (min-width: 60rem) {
	body {
		margin-top: 3rem;
	}
}

/* meta and chart */

.meta {
	margin-left: 5rem;
	max-width: 40em;
}

.chart canvas {
	height: inherit;
	width: inherit;
}

aside {
	max-width: 50em;
}
@media (min-width: 80rem) {
	aside {
		position: fixed;
		right: 4rem;
		top: 6rem;
		width: calc(100vw - 44rem);
		max-width: 70rem;
	}
}

.chart {
	position: relative;

	width: 100%;
}

.chart .line {
	position: absolute;
	top: 65px;
	left: 20px;
	height: 50%;
	min-width: 1px;
	background: black;
	z-index: -1;
}

.scrollIndicator {
	background: /*blue*/ !important;
	opacity: .1;
}
.segmentMarker {
	opacity: .2
}



/* heatmap */

.heatmap>span {
	top: .2em;
	margin-left: 1em;
	position: relative;
	display: inline-block;
}

.heatmap {
	height: 3em;
	position: relative;
	margin-bottom: 3em
}

.heatmap .markers {
	height: .5em;
	width: 100%;
	background: linear-gradient(to right, #333 2px, transparent 0), linear-gradient(to right, #888 2px, transparent 0);
	background-size: calc(25% - 2px/5) 100%, calc(12.5% - 2px/9) 70%;
	background-position: left center;
	background-repeat: repeat-x;
}

.heatmap .labels {
	position: relative;
	width: 100%;
	height: 1em;
	margin-top: .4em
}
.heatmap .labels span {
	position: absolute;
	transform: translateX(-50%);
	font-size: .8em
}

.heatmap .labels span:nth-of-type(1) { left: 0; }
.heatmap .labels span:nth-of-type(2) { left: 25%; }
.heatmap .labels span:nth-of-type(3) { left: 50%; }
.heatmap .labels span:nth-of-type(4) { left: 75%; }
.heatmap .labels span:nth-of-type(5) { left: 100%; }


.heatmap .bar {
	border: solid 1px;
	height: 1em;
	width: 20em;
	border-radius: .5em;
	display: inline-block;
}


@media (max-width: 448px) {
	.heatmap {
		font-size: .8em;
	}
}

/* chat */

.chat {
	border-radius: .5em;
	padding: 1em;
	border: solid 1px;
	margin-top: 2.5em;
}

@media (min-width: 60rem) {
	.chat {
		margin-top: 4rem;
	}
}

.chat {
	max-width: 30em;
	font-size: .85em;
	margin: 0 5em;
}
.chat:after {
	content: "";
	display: block;
	clear: both;
}

/* messages */

.message {
	position: relative;
	margin: .25em;

	padding: .5em;
	border-radius: .75em;
	border: solid 1px;
	clear: both;
	max-width: 51%;
	line-height: 1.5;
	word-wrap: break-word;
	background: #f6f6f6;
}

.message .info {
	font-size: 0.8em;
	margin-top: 0.125rem;
	white-space: nowrap;
	margin-bottom: -.25rem;
	opacity: .6;
}

.message.left { float: left; }
.message.right { float: right; }

.message.left .info {
	text-align: left;
}
.message.right .info {
	text-align: right;
	padding-left: 2em;
	float: right;
}

.chat date {
	opacity: .8;
}
.chat .author {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 17em;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
.chat .author:after {
	content: ", "
}

.message .message-num, .message date {
	margin-left: .1em;
}

.message .message-num {
	color: inherit;
	text-decoration: none;
}
.message .message-num:before {
	content: "#";
}

.message .labels {
	margin-right: .25em;
}
.message .labels span {
	font-size: 0.8rem;
	font-weight: bold;
	margin-right: .25em;
	color: #555;
	display: inline-block;
	padding: 0em 0.25em;
	background: rgba(0,0,0,.1);
	border-radius: .2em;
	line-height: 1.25;
}

/* (!) and (Alert) */

.message.left.positive:after { left: -3.7em; }
.message.right.positive:after { right: -3.7em; }
.message.left.positive:before { left: -4.25rem; }
.message.right.positive:before { right: -4.25rem; }

.message.positive:after,
.message.warning:after {
	line-height: 0;
	padding: 0.75em 0 .75em;
	text-align: center;
	position: absolute;
	border: solid 1px;
	border-radius: 2em;
	font-weight: bold;
	top: .25em;
	width: 1.5em;
}
.message.positive:before {
	text-align: center;
	position: absolute;
	top: 2rem;
	width: 3em;
}

.showRiskAnnotations .message.positive[data-risk-level]:before {
	content: attr(data-risk-level) " / " attr(data-risk-threshold);
	font-size: .9em;
	opacity: .3
}
.showRiskAnnotations .message.positive:after {
	content: "!";
	font-size: 1.25em
}
.message.warning.right:before { right: -4.95rem; }
.message.warning.left:before { left: -4.95rem; }
.showRiskAnnotations .message.warning:after {
	content: "Alert";
	color: #e68a00;
	width: auto;
	padding: 1em .75em;
	font-size: .9rem;
	top: 0;
}

.message.left.warning:after { left: -6.25em; }
.message.right.warning:after { right: -6.25em; }

/* /  (!) and (Alert) */


.message.is-empty { /* empty message */
	opacity: .5;
	font-style: italic;
}
.message.is-empty .body:before {
	content: "Empty message";
}

.missing-message {
    font-style: italic;
    text-align: center;
    float: left;
    width: 100%;
    padding: .5em 0;
    clear: both;
    opacity: .5;
}

/* Misc */

.separator {
	margin: 1.5em 0;
	float: left;
	width: 100%;
	border-top: solid 1px black;
	opacity: .4;
}

.falsePrediction {
	border-radius: .2em
}

footer {
	margin-top: 1em;
	margin-left: 4rem
}

@media (max-width: 80rem) {
	.scrollIndicator {
		display: none !important;
	}
	.meta {
		margin-left: 1rem;
	}
	.chat {
		font-size: .65rem
	}
}

@media (max-width: 40rem) {
	.scrollIndicator {
		display: none !important;
	}
	.meta {
		margin-left: 1rem;
	}
	.chat {
		margin: 0 3.25em;
	}
	footer {
		margin-left: 1.5rem;
	}
}
