
@media (min-width: 80rem) {
	body {
		margin: 3rem 6rem;
	}
}

.info {
	word-break: keep-all;
}

.keyval td {
	vertical-align: top;
}


.booktable th:not(:nth-of-type(1)),
.booktable td:not(:nth-of-type(1)) {
	text-align: right;
}


/* confusion matrix */

.confusionMatrix {
	text-align: center;
	margin-left: -3em;
}

.confusionMatrix th,
.confusionMatrix td {
	padding: .25em;
	font-size: .8em;
}

.confusionMatrix caption {
	margin-left: -2em;
	text-align:left;
	font-weight: bold;
}
.confusionMatrix .className {
	padding: 0 .25em;
	font-weight: normal;
}

.confusionMatrix .prediction,
.confusionMatrix .reality {
	font-style: italic;
	font-weight: normal;
	opacity: .5;
}

section {
	display: inline-block;
	vertical-align: top;
	margin: 2em 4em 0 0
}
