html {
	scroll-behavior: smooth
}
body {
	font: 100% "Roboto";
	margin: 2em 1em;
	hyphens: auto;
	color: #222
}

h1, h2 {
	color: #2255aa;
	font-weight: 400;
}


/* backlink */

.backlink:before {
	content: "↖ ";
	font-size: 1.25em;
	padding-right: .1em;
	text-decoration: none;
	display: inline-block;
}

.backlink {
	color: black;
	font-size: .8em;
}

.id {
	font-family: monospace;
}

/* Tables */

table {
	border-spacing: 0
}

.booktable {
	text-align: left;
	border-spacing: 0;
}
.booktable th {
	border-bottom: solid .1em;
}

.booktable tr:nth-of-type(2) td {
	padding-top: .25em;
}

.booktable th,
.booktable td {
	padding:  .125em 1em;
}

.booktable th:first-of-type,
.booktable td:first-of-type {
	padding-left: .25em;
}

.booktable th:last-of-type,
.booktable td:last-of-type {
	padding-right: .25em;
}


.keyval>tbody>tr>td:first-of-type {
    padding-right: 1em;
    font-weight: bold;
}
.keyval td {
	padding: .25em 0;
}
.keyval {
	max-width: 30em;
}

/* Misc */

.falsePrediction {
	background: rgba(255, 100, 100, 0.2)
}


.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15.75em;
}

.hidden {
	position: fixed;
	top: -99999px;
	left: -99999px;
}
